node_modules/
typings/
opal.js
opal.js.map
docs/build/
test.js

# Visual studio crud.
.vs/
.ntvs_analysis.dat
.ntvs_analysis.dat.tmp
bin/
obj/

# I can't figure out how to make Visual Studio stop generating per-file .js
# outputs on save, even though I've instructed it to combine all TypeScript
# into a single file.
src/calendar.js
src/opal.js
src/pset.js
examples/schedule.js
