node_modules/
typings/
docs/build/
test.js

# Visual studio crud.
.vs/
.ntvs_analysis.dat
.ntvs_analysis.dat.tmp
bin/
obj/

# Generated JavaScript for TypeScript sources.
src/calendar.js
src/opal.js
src/pset.js
examples/schedule.js
examples/event_modify.js
test/common.js
test/test_lazy.js
test/test_opal.js
test/test_pset.js
