<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
    <add key="authority" value="http://login.windows.net/chrisq.onmicrosoft.com" />
    <add key="clientId" value="944881d4-f34a-4e54-b102-586c11f0e49f"/>
    <add key="clientAppUri" value="http://localhost:8191/authorize"/>
    <add key="serverName" value="outlook.office365.com" />
  </appSettings>
</configuration>